<?xml version="1.0" encoding="UTF-8"?>

<configuration scan="true">

    <conversionRule conversionWord="clr" converterClass="org.springframework.boot.logging.logback.ColorConverter"/>
    <conversionRule conversionWord="wex"
                    converterClass="org.springframework.boot.logging.logback.WhitespaceThrowableProxyConverter"/>
    <conversionRule conversionWord="wEx"
                    converterClass="org.springframework.boot.logging.logback.ExtendedWhitespaceThrowableProxyConverter"/>

    <property name="COMMON_LOG_PATTERN"
              value="%date{yyyy-MM-dd HH:mm:ss.SSS} [%X{X-B3-TraceId:-} %X{X-B3-SpanId:-}] [%thread] [%method-%line] %level %logger{15} - %msg %n"/>

    <!-- 控制台、tomcat默认日志输出 -->
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder charset="UTF-8">
            <pattern>${COMMON_LOG_PATTERN}
            </pattern>
        </encoder>
    </appender>

    <!-- 业务打印设置 -->
    <logger name="io.stacs.dapp.*.**" level="INFO" additivity="false">
        <appender-ref ref="console"/>
    </logger>

    <!-- 设置日志级别 -->
    <root level="INFO">
        <appender-ref ref="console"/>
    </root>

</configuration>